.contract {
  background-color: #fff;
}

.contract > :global(.ant-flex) {
  padding: 60px 25px 45px;
  max-width: var(--max-width);
  margin: 0 auto;
  color: #999;
}

.contract i {
  color: #666;
  font-size: 36px;
}

.contract i:hover {
  color: var(--primary-color);
}

.contractDivider {
  background: #f2f2f2 !important;
  width: 0.5px;
  height: 190px;
  margin: 0 6px;
}

.contractItem {
  height: 190px;
}

.contractItem > div:first-child {
  font-size: 18px;
  margin-bottom: 36px;
}

.contractCard {
  border: 1px solid #ededed;
  width: 92px;
  height: 92px;
  padding-top: 10px;
  cursor: pointer;
}

.contractCard:first-child {
  margin-right: 12px;
}

.contractHotline > div:first-child {
  color: #666;
  font-size: 22px;
  padding-top: 20px;
}

.contractHotline > div:last-child {
  color: #999;
  font-size: 15px;
}

.slogan {
  color: #fff;
  font-size: 28px;
  background-color: #333;
}

.slogan > :global(.ant-flex) {
  border-bottom: 1px solid #434343;
  padding: 53px 100px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.slogan i {
  font-size: 50px;
  margin-right: 10px;
}

.links {
  padding: 40px 0 50px;
  height: 170px;
}

.linkItem {
  color: #999;
  font-size: 15px;
  cursor: pointer;
}

.divider {
  background-color: #ccc;
  margin: 0 3px;
}

.copyright {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin-top: 20px;
}
