.logo {
  width: 200px;
  height: 132px;
}

.desc {
  margin-bottom: 38px;
  font-weight: 400;
  cursor: pointer;
}

.desc span {
  font-size: 16px;
  margin-right: 5px;
}

.arrowIcon {
  color: var(--primary-color);
  letter-spacing: -5px;
  font-size: 14px;
}

.bg {
  position: relative;
  height: 488px;
  margin-bottom: 10px;
}

.formContainer {
  width: 380px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 54px;
  transform: translateX(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.formHeader {
  margin-bottom: 20px;
  font-size: 18px;
  height: 55px;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 0 20px 2px;
}

.form :global(.ant-form-item) {
  margin-bottom: 20px;
}

.checkbox {
  font-weight: normal;
}

.checkbox:global(.ant-checkbox-wrapper-checked) {
  color: var(--primary-color);
}
